DATABASE_URL="postgresql://postgres:3900Mcf!3@postgres:5432/kera"
REDIS_URL="redis://:3900Mcf!3@redis:6379"
NODE_ENV="development"
PORT=4000
JWT_SECRET="change_me_super_secret_jwt"
WEBHOOK_SECRET="change_me_webhook_secret"
EVOLUTION_URL="http://evolution:8080"
EVOLUTION_API_KEY="change_me_evolution_key"
FRONTEND_URL="https://app.kera.stazak.com.br"
API_URL="https://api.kera.stazak.com.br"
